<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #banner{
            position: relative;
        }
        #banner img{
            width: 100%;
        }

        .container{
            /* background-color: cyan; */
            position: absolute;
            margin: 0 10%;
            width: 80%;
            height: 100%;
            top: 50%;
            transform: translateY(-50%,-50%);
        }
    </style>
</head>
<body>
    <section id="banner">
        <img src="../images/backBanner.jpg" alt="Trà sen">
        <div class="container">
            <div class="content">
                <h1>Acatea</h1>
                <h2>
                    <span>
                        Tinh hoa ẩm thực Việt Nam
                    </span>
                </h2>
                <p>
                    Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của acatea và vị đậm đà của trà thảo dược.
                    Ngày nay, trà thảo dược đang thu hút rất
                     nhiều sự chú ý trên toàn thế giới với 
                     mong muốn tìm ra giải pháp phòng và 
                     chữa bệnh an toàn, bền vững, mang lại 
                     lợi ích sức khoẻ cho con người, tránh 
                     được hiện tượng kháng thuốc hay việc 
                     lạm dụng thuốc dẫn đến nhiều tác dụng 
                     phụ không mong muốn, đặc biệt là các 
                     bệnh mãn tính, tiểu đường và béo phì...
                </p>
            </div>
        </div>
    </section>
</body>
</html>