<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Devmaster Academy</h1>
    </header>
    <section>
        <h2>Viện công nghệ đào tạo Devmaster</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste! Non fugiat maiores iste excepturi eum unde vero ea saepe quidem, cupiditate nisi porro reprehenderit sit eos, iusto, minima veritatis?
        </p>
    </section>
    <section id="product">
        <h2>Sản phẩm nổi bật</h2>
        <div>
            <h3>Mới nhất</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eligendi facere sapiente ullam. Et qui dolorem quia voluptatibus, veritatis nobis quidem, harum sit quos necessitatibus consequatur nostrum unde, explicabo odit.
            </p>
            <h3>Bán chạy nhất</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat iure adipisci modi earum exercitationem accusantium porro praesentium quod nostrum magnam, perferendis cupiditate quas libero eaque. Temporibus optio et rerum nostrum.</p>
        </div>
    </section>
</body>
</html>