<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <section id="product">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/001.jpg" alt="001">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/002.jpg" alt="002">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/003.jpg" alt="003">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/004.jpg" alt="004">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/005.jpg" alt="sp5">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                xem
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/006.jpg" alt="sp6">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/007.jpg" alt="sp7">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/008.jpg" alt="sp8">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/009.jpg" alt="sp9">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
                <div class="col">
                    <div class="item-thumbnail">
                        <div class="img">
                            <img src="../images/010.jpg" alt="010">
                        </div>
                        <div class="icon-btn">
                            <a href="">
                                <button>
                                    xem
                                </button>
                            </a>
                            <button>
                                tim
                            </button>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Bàn uống nước</h4>
                        <del>10.000.000 VND</del>
                        <b>5.000.000 VND</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>