@font-face {
    font-family: "DevBeauty" ;
    src: url('../fonts/SVN-Artful_Beauty/SVN-Artful\ Beauty.ttf');
}
@font-face {
    font-family: "Roboto-Bold";
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}